<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTpi2UaBQ9V6p9lPcFQ7i32Tr5BYvTGpc</string>
	<key>GCM_SENDER_ID</key>
	<string>277284918238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.henrytran.AppOrderFood</string>
	<key>PROJECT_ID</key>
	<string>beorderfood</string>
	<key>STORAGE_BUCKET</key>
	<string>beorderfood.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277284918238:ios:fc242e923db362570b434f</string>
	<key>DATABASE_URL</key>
	<string>https://beorderfood-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>